<h1> Listar los tipos de restaurantes </h1>

<table>
    <tr>
        <th>id</th>
        <th>tipo</th>
    </tr>

<% @todos_los_tipos.each do |tipo_comida| %>
    <tr>
        <th> <%= tipo_comida.id %> </th>
        <th> <%= tipo_comida.tipo %> </th>
    </tr>
<% end %>

</table>